<style>
    body {
        background-color: rgb(33, 37, 41);
        color: rgb(248, 249, 250);
        text-decoration: none;
    }

    .paragrafos-portfolio {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
    }

    .lista-habilidades-HTML {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
    }

    .lista-habilidades-CSS {
        font-family: "Montserrat", sans-serif;
        font-size: 19px;
    }

    .nome {
        font-family: "Montserrat Subrayada", sans-serif;
        font-size: 40px;
        text-decoration:none;
    }

    .button {
        background-color: rgb(73, 80, 87);
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
        color: white;
    }

    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 25px;
        font-weight: bold;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: bold;
    }

    .picture {
        border-radius: 100%;
    }

    a {
        text-decoration:none;
        color: white;
    }
</style>